.ArtistBio {
  margin-top: 10vh;
  height: 50vh;
  background-image: linear-gradient(rgba(46, 53, 54, 0.5), rgba(34, 54, 92, 0.5)),
     url('../img/elton.jpg');
  background-size: cover;
  text-align: left;
}


#desc {
  font-size: 1em;
  text-align: left;
}
